[diff]
    ignoreWhitespace = true
    ignoreBlankLines = true
    ignoreAllSpace = true
[core]
    autocrlf = false
    whitespace = trailing-space,space-before-tab
[status]
    showUntrackedFiles = all

